@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
}

/* Cualquier elemento que quieras en serif lo llamas con esta clase */
.font-serif {
  font-family: var(--font-dm-serif), serif;
}

/* Modo oscuro por clase */
@variant dark (&:where(.dark, .dark *));